@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.showborder {
    position: relative;
    color: black;
}

.showborder::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: blue; /* Change this to your desired underline color */
    transition: width 0.3s ease;
}

.showborder:hover::before {
    width: 100%;
}
